@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .purple-gradient {
    @apply bg-gradient-to-r from-[#ffc0cb] via-[#ffc0cb] to-[#7a5299] text-transparent bg-clip-text
  }
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar-track {
  background: transparent;  /* makes the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #653e80;  /* color of the scroll thumb */
}

/* For Firefox */
* {
  scrollbar-color: #653e80 transparent;  /* thumb and track color */
}