@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .purple-gradient {
    @apply bg-gradient-to-r from-[#ffc0cb] via-[#ffc0cb] to-[#7a5299] text-transparent bg-clip-text
  }
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color:  #653e80; /* Purple color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d3263;
}
