@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility purple-gradient {
  @apply bg-linear-to-r from-[#ffc0cb] via-[#ffc0cb] to-[#7a5299] bg-clip-text text-transparent;
}

@layer base {
  p {
    @apply text-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar-track {
  background: transparent; /* makes the track transparent */
}

::-webkit-scrollbar-thumb {
  background: #653e80; /* color of the scroll thumb */
}

/* For Firefox */
* {
  scrollbar-color: #653e80 transparent; /* thumb and track color */
}
